body{
    background-image: url(./Foto.jpg);
    background-position: top;
    
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-variant: small-caps;
    font-style: italic;

}

p{
    color: rgb(50, 168, 82)
}
p{
    text-align: justify;
    text-indent: 50px;
}
h2{

  
}
a{
    text-decoration: none;color: black;
}
p{
    word-spacing: 60px;
    line-height: 50px;
}


